@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

a {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply dark:bg-[#1A202C] 
        bg-[#f7fafc];
  }
}

body {
  background-color: #f7fafc;
}

.transition_dropdown {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.dropdown_open {
  opacity: 1;
  max-height: 1000px;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  height: auto;
}

.scroll::-webkit-scrollbar-thumb {
  background: #52b69a;
  border-radius: 12px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.04);
  position: relative;
}

.scroll::-webkit-scrollbar-track {
  background: transparent;
}

.scroll::-webkit-scrollbar-thumb::before,
.scroll::-webkit-scrollbar-thumb::after {
  content: "";
  display: block;
  height: 24px; /* Вы можете изменить это значение, чтобы установить размер отступа */
}

.menu {
  animation: hidden 1s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.25);
  /* Меню скрыто за пределами экрана */
  transform: translateX(100%);
  opacity: 0;
  transition: opacity 0.5s;
  overflow: auto;
  /* Меню появляется на весь экран */
}

.menu.active {
  transform: translateX(0%);
  opacity: 1;
}

.tabGradient {
  background: linear-gradient(180deg, #056dc3 0%, #2e54b2 100%) !important;
}
